.main {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 50%);
  }
}
