.main {
  height: 100%;
  width: 100%;
  display: flex;
}

.content {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
